# JetBrains IDEs
# Reference: https://intellij-support.jetbrains.com/hc/en-us/articles/206544839

# File-based project format
*.iws
# mpeltonen/sbt-idea plugin
.idea_modules/
# Editor-based HTTP Client
.idea/httpRequests
http-client.private.env.json

# CMake / other builds
cmake-build-*/
build*/
out/
/.deps
.cache

## Dear ImGui artifacts
imgui.ini
imgui*.ini

dc.txt
todo.txt
compile_commands.json
/.zed/
.idea/
/.vs
.clangd
.directory
